@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-orange: #3eb4ae;
  --primary-naranja: #ff9100;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-grey: grey;
  --primary-black: #000000;
  --primary-contacto: #0000005b;
  --primary-green: green;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: "Roboto Condensed", sans-serif;
}


/************** BARRA *************/

.bg-naranja {
  background-color: var(--primary-orange) !important;
}


nav {
  z-index: 2;
}
.logo {
  width: 10rem;
  padding-top: 0.5rem;

}
/*----- LINKS MENU -----*/
nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 15rem !important;
  padding: 1rem !important;
  height: 6rem !important;

}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);
}

/*----- HEADER -----*/
.header-wrapper {
  position: relative;
  background: url(2454628.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
  z-index: 1;
}

.btn-main:hover {
  text-decoration: none;
  background-color: var(--primary-orange);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}



/*----- TYPED -----*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white)
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem;
  }
}

.btn-main {
  border: 2px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

/*----- PARTICLES -----*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 758px){
  .particles-canvas {
    display: none;
  }
}

/************** SOBRE *************/
.photo-wrap {
  display: flex;
  justify-content: center;
  justify-content: center;
}


.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}


.sobre-header {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/************** SERVICIOS *************/
.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services h1 {
  font-size: 2rem;
  color:var(--primary-orange);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
}

.services .box:hover{
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.services .box:hover .icon {
  color: var(--primary-orange);
}
.services .box:hover .circle {
  background: var(--primary-white);
}

.services .box:hover p {
  color: var(--primary-white);
}




/************** PORTFOLIO *************/
.portfolio-wrapper {
  background: var(--primary-light-grey);
  padding: 3rem 0;
}


.portfolio-image {
  width: 15rem;
  border: 1px solid var(--primary-orange);
  padding: 0 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

/************** OVERFLOW *************/
.overflow {
  position: absolute;
    opacity: 0;
    background: var(--primary-black);
    width: 15rem;
    height: 8rem;
    top: 0;
  border: 1px solid var(--primary-orange);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/************** BOX *************/


.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.portfolio h1 {
  color: var(--primary-orange);
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-orange);
}

.hyper-link:hover {
  color: var(--primary-naranja);
}

@media(max-width: 768px) {
  .portfolio-image-popupbox {
      width: 100%
    }
}

@media(max-width: 570px) {
  .portfolio-wrapper {
    height: 100%;
  }

  .portfolio-image-popupbox {
      width: 100%
    }
}

@media(max-width: 280px) {
  .portfolio-wrapper {
    height: 90%;
  }

  .portfolio-image-popupbox {
      width: 50%
    }
}

/************** CONTACTO *************/

.contacts {
  background: var(--primary-light-grey);

}
.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-black);
  font-size: 1.2rem;
}

/*----- TYPED -----*/
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid black;
  border-radius: 0;
  color: var(--primary-black);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-orange);
}

.contacts textarea {
  height: 12.4rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  border-color: var(--primary-orange);
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

/************** MEDIA CONTACTO *************/

@media(max-width: 758px) {

  .contacts {
    overflow-x: hidden  ;
  }

  .contacts .container {
    padding: 0 1rem;
  }
  .contacts p {
    padding: 0 0.4rem;
  }
}


/************** ERRORES CONTACTO *************/
.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/************** FOOTER  *************/
.footer {
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer p {
  color: var(--primary-orange);
  margin-bottom: 0;
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}



.portfoliocoming h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}